* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(
    90deg,
    rgb(232, 189, 163) 0%,
    rgb(237, 125, 51) 65%,
    rgb(234, 109, 25) 85%
  );
  font-family: Arial;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 600px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: rgb(236, 154, 54);
  border-radius: 6px;
}

h2 {
  color: #fff;
  text-align: left;
  margin-bottom: 12px;
}

label {
  color: #fff;
  margin-bottom: 4px;
}

input[type="email"],
input[type="password"] {
  height: 30px;
  width: 350px;
  border: none;
  border-radius: 12px;
  padding: 6px;
  font-size: 15px;
  margin-bottom: 12px;
}

input[type="email"],
input[type="password"]:focus {
  outline: none;
}

.input-mail-container,
.input-password-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 700;
}

.forgot-password {
  text-align: right;
  margin-top: 6px;
}

.forgot-password a {
  color: #fff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

button {
  width: 280px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: rgb(251, 102, 4);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(240, 126, 50);
}

button:active {
  box-shadow: 0px 0px 0px;
  background-color: rgb(242, 146, 82);
}

.input-btn-container {
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active {
  color: #fff;
  background-color: lightcoral;
  border: 1px solid red;
  padding: 8px;
  margin-bottom: 6px;
}
